
@{
    ViewData["Title"] = "DanhSachsp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sách Sản Phẩm Trong Shop</h1>

    <div class="sp">
        <div class="row">
       
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-xs-6">
                <img src="@item.LinkAnh" alt="" style="width: 100%">
                <p class="tensp">@item.Name</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="giaspkm">@item.Price đ</p>
                    </div>
                    <div class="col-md-6">
                        <p class="giasp">@item.Price đ</p>
                    </div>
                </div>
                <div class="b-mua">
                     <a href="@Url.Action("DetailProducts","Product",new { id=item.Id })">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="bi bi-bag-check"></i>
                          mua
                        </button>
                    </a>

                </div>
            </div> 
            }

        </div>
    </div>

