@model IEnumerable<DuAn.Models.Size>

@{
    ViewData["Title"] = "ShowAllSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Size</h2>

<p>
    <a asp-action="CreateSize">
       <button type="button" class="btn btn-primary">
        <i class="bi bi-pencil-square"> Thêm</i>
        </button></a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Kichthuoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Kichthuoc)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditSize", new {  id=item.Id  }) |
                @Html.ActionLink("Chi Tiết", "DetailSizes", new { id=item.Id  }) |
                @Html.ActionLink("Xóa", "DeleteSize", new { id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
